<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Shani&shmuel's amazing maze!!!</title>
</head>
<body>
    <nav id="navigationBar">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="HomePageCSS.css">

        </nav>        
            <h1>Maze Game</h1>
            <p>Play the original maze game for free.</p>
            <p>Play online against your friends.</p>
    <script src="HomePageJS.js"></script>
</body>
</html>