<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title></title>
    <link href="Styles/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="MultiPlayerCss.css">
</head>
<body id ="body">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>      
 
    <div id="navigationBar">
    </div>
    <div class="container body-content">
        <h2>MultiPlayer Game</h2>
        <div class="col-sm-3 form-horizontal">
            <div class="form-group">
                <!--<label class="col-sm-2 control-label">Games</label>-->
                <div class="col-sm-2 col-sm-10">
                    <!--<Butt>-->
                        <select  form-control" id="listDrpdwn" onclick="getListOfGames()" value=" ">
                            <option value="" disabled="disabled" selected="selected">Please choose a game</option>
                        </select>
                    <!--</Butt>-->
                </div>
                </div>
            <div class="form-group">
                <Butt><input type="button" class="btn btn-default" id="btnJoinGame" value="Join Game"/></Butt>
            </div>
                
            <div>
            <label><l>Start New Game</l></label>
                <div class="form-group">
                    <label for="mazeName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mazeName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="mazeRows" class="col-sm-2 control-label">Rows</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mazeRows" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="mazeCols" class="col-sm-2 control-label">Cols</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="mazeCols" />
                    </div>
                </div>
                <div class="form-group">
                    <Butt><input type="button" class="btn btn-default" id="btnStartGame" value="Start Game"/></Butt>
                </div>
            </div></div>
        <!--my maze-->
        <div class="col-sm-4 text-center">

            <label id="l" hidden>My Board</label>
            <canvas id="myMazeCanvas" style="border:2px black solid" tabindex="1" class="maze-board" width="350"
                    height="350"></canvas>
        </div>
        <img id="cinderella" src="resources/cinderella.jpg" hidden="hidden" />
        <img id="prince" src="resources/prince.png" hidden="hidden" />

        <!--Other Player's maze-->
        <div class="col-sm-4 text-center">
            <label id="l1" hidden>Other Player's Board</label>
            <canvas id="otherMazeCanvas" style="border:2px black solid" tabindex="1" class="maze-board" width="350"
                    height="350"></canvas>
        </div>
    </div>
    <div class="loader span4 offset4" id="loader" hidden>
    </div>
    <script src="jquery.MazeJS.js"></script>
    <script src="../Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="../signalr/hubs"></script>
    <script src="MultiPlayerJS.js"></script>
</body>
</html>