<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <script src="SHA-1.js"></script>
    <script src="Register.js"></script>
    <div id="navigationBar">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script>
            $("#navigationBar").load("MenuBar.html");
        </script>
    </div>
        <h1>Register</h1>
        <p>Please fill the next fields</p>
        <fieldset>
            UserName: <input type="text" name="userName" id="userName"><br />
            Password: <input type="password" name="password" id="password"><br />
            Password verification: <input type="password" name="passwordVeri" id="passwordVeri"><br />
            Email: <input type="text" name="Email" id="Email"><br />
            <input type="button" value="Register" id="regBtn" onclick="register()"/>
        </fieldset>
        <p id="demo"></p>
</body>
</html>